{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Lista de Productos</h2>
    <a href="{% url 'agregar_producto' %}" class="btn btn-success mb-3">Agregar Producto</a>
    
    <table class="table table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>Categoría</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
          <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>${{ producto.precio }}</td>
            <td>{{ producto.stock }}</td>
           
            <td>
              <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <button type="button" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-primary">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5">No hay productos cargados.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
document.addEventListener("DOMContentLoaded", function () {
  
  document.querySelectorAll(".btn-success").forEach(function (btn) {
    btn.addEventListener("click", function () {
      
      let fila = this.closest("tr");
      let stockCell = fila.querySelector("td:nth-child(5)");
      let stock = parseInt(stockCell.innerText);
      stockCell.innerText = stock + 1;
    });
  });

  document.querySelectorAll(".btn-danger").forEach(function (btn) {
    btn.addEventListener("click", function () {
      if (confirm("¿Seguro que deseas eliminar este producto?")) {
        let fila = this.closest("tr");
        fila.remove();
      }
    });
  });
});
</script>
{% endblock %}
